<style>
.title-404 {
	font-size:80px;

}
</style>

<div class="center-block mt-xl wd-xl">
   <div class="panel panel-inverse">
      <div class="panel-heading text-center">
         <img src="app/img/logo-single.png" alt="Image" class="center-block img-rounded" />
      </div>
      <div class="panel-body" dir="rtl" data-ng-controller="Authentificate" >
         <div class="title-404">404</div>
         <p>المعذرة ولكن الصفحة المطلوبة غير موجودة .</p>
      </div>
   </div>
</div>