<h3>التصرف في الأعوان
   <small data-ng-bind="app.name + ' - ' + app.description"></small>
</h3>
<!-- START row-->
<div data-ng-controller="GestionUser" class="row">
   <div class="col-md-12">
      <toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
      
      <form onsubmit="return false;" name="formv" class="form-validate form-horizontal" data-ng-submit="formv.$valid && addGrade()">
         <!-- START panel-->
         <div class="panel panel-default">
            <div class="panel-heading">
               <div class="panel-title"><h3>إضافة  رتبة</h3></div>
            </div>
            <div class="panel-body">
            

               <fieldset>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">المعرف الوحيد</label>
                     <div class="col-sm-3">                      
                        <div class="input-group">
                           <input type="text" data-ng-model="uid" data-ng-pattern="/^[0-9]{10,12}$/i" class="form-control"   required  />
                           <span class="input-group-btn">
                              <button type="button" data-ng-click="getU()" class="btn btn-primary">بحث</button>
                           </span>
                        </div>
                     </div>
                     <label class="col-sm-2 control-label">#</label>
                     <div class="col-sm-3">
                        <input type="text" data-ng-model="id" data-ng-pattern="/^[a-f\d]{24}$/i" class="form-control"   required  readonly />
                     </div>
                  </div>
               </fieldset>
               <input type="hidden" data-ng-model="etag" >

               <fieldset>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">الرتبة</label>
                     <div class="col-sm-8">
                        <select data-ng-model="grade" class="form-control" data-ng-options="g as g.title for g in gs track by g._id" data-ng-init="initGradeOptions()" required></select>
                     </div>
                  </div>
               </fieldset>

               <fieldset>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">تاريخ التفعيل</label>
                     <div class="col-sm-8">
                        <input type="date" data-ng-model="dt"  class="form-control" required  />
                     </div>
                  </div>
               </fieldset>

               <fieldset>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">معطيات أخرى</label>
                     <div class="col-sm-8">
                        <input type="text" data-ng-model="ref" required class="form-control"  ng-minlength="3" ng-maxlength="500"/>
                     </div>
                  </div>
               </fieldset>
            </div>
            <div class="panel-footer ">
               <button type="submit" class="btn btn-primary">اظافة</button>
            </div>
         </div>
         <!-- END panel-->
      </form>
   </div>
</div>
<!-- END row-->