<h3>التصرف في الأعوان
   <small data-ng-bind="app.name + ' - ' + app.description"></small>
</h3>
<!-- START row-->
<div data-ng-controller="Users" class="row">
   <div class="col-md-12">
      <toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
      
      <form onsubmit="return false;" name="formv" class="form-validate form-horizontal" data-ng-submit="formv.$valid && editState()">
         <!-- START panel-->
         <div class="panel panel-default">
            <div class="panel-heading">
               <div class="panel-title"><h3>تحيين الوضعية الإدارية</h3></div>
            </div>
            <div class="panel-body">
            

               <fieldset>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">#</label>
                     <div class="col-sm-8">
                        <input type="text" data-ng-model="id" data-ng-pattern="/^[a-f\d]{24}$/i" class="form-control"   required  readonly />
                     </div>
                  </div>
               </fieldset>


               <input type="hidden" data-ng-model="etag" >
               <input type="hidden" data-ng-model="nb" >
               

               <fieldset>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">الوضعية الإدارية</label>
                     <div class="col-sm-8">
                        <select data-ng-model="editstate.st" class="form-control" required>
                           <option></option>
                           <option value="مباشر">مباشر</option>
                           <option value="إلحاق">إلحاق</option>
                           <option value="عدم المباشرة">عدم المباشرة</option>
                           <option value="تحت السلاح">تحت السلاح</option>
                        </select>
                     </div>
                  </div>
               </fieldset>

               <fieldset>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">تاريخ التفعيل</label>
                     <div class="col-sm-8">
                        <input type="date" data-ng-model="editstate.dt"  class="form-control" required  />
                     </div>
                  </div>
               </fieldset>

               <fieldset>
                  <div class="form-group">
                     <label class="col-sm-2 control-label">معطيات أخرى</label>
                     <div class="col-sm-8">
                        <input type="text" data-ng-model="editstate.ref" class="form-control"  ng-minlength="3" ng-maxlength="200"/>
                     </div>
                  </div>
               </fieldset>
            </div>
            <div class="panel-footer ">
               <button type="submit" class="btn btn-primary">تحيين</button>
            </div>
         </div>
         <!-- END panel-->
      </form>
   </div>
</div>
<!-- END row-->