<style>
	.header-font { 
	   font-family: 'GranadaRegular'; 
	   font-weight: normal; 
	   font-style: normal; 
	   font-size:28px;
	   margin-bottom: 0px !important;
	}

	.modif-input {
		border: 0;
		width: 118px;
		background: #f7f9fb;
	}

	.title-doc p {
		font-size: 26px;
		font-weight: bold;
		margin-bottom: 0px !important;
	}


	.body-text {
		font-size: 18px;

	}

	.body-text-bottom {
		margin-bottom: 0px !important;
		font-size: 18px;
	}

	.body-text-number {
		font-size: 16px;
		font-weight: bold;
	}

	.body-text-bold {
		font-size: 20px;
		font-weight: bold;
	}


	table td  {
		border: 1px solid black !important;
		padding : 4px !important;
	}

</style>



<div class="row">
	<div class="col-xs-5">
		<p class="header-font ">الجمهورية التونسية </p> 
		<p class="header-font"> رئاسة الحكومة</p>
		<p class="body-text-bold">الإدارة العامة للمصالح المشتركة </p>
	</div>
	
</div>
<div class="row title-doc">
	<p class="text-center">بطاقات إسناد العدد المهني </p>
	<p class="text-center"> بعنوان سنة {{app.year}} </p>
</div>

<div class="row">
	<div class="col-xs-offset-1 col-xs-3">
		<p class="body-text" style="margin-top:11px">المعرف الوحيد </p>
	</div>
	<div class="col-xs-7">
		<table class="table table-bordered table-responsive" >
			<tr class="body-text-number" >
				<td class="text-center" data-ng-repeat="a in usr.uid track by $index">{{a}}</td>
			</tr>
		</table>
	</div>
</div>

<div class="row ">
	<div class="col-xs-1">
		<img data-ng-src="app/img/note.gif"  />	
	</div>
	<div class="col-xs-3">
		<p class="body-text-bold" >الإسم واللقب</p>
	</div>
	<div class="col-xs-8">
		<p class="body-text">: {{usr.nom}} {{usr.pren}}</p>
	</div>


	<div class="col-xs-8">
		<p class="body-text-bold" ></p>
	</div>
	<div class="col-xs-3">
		<p class="body-text-bold" >تاريخ الولادة ومكانها</p>
	</div>
	<div class="col-xs-8">
		<p class="body-text">: {{usr.born | date:'yyyy/MM/dd'}} {{usr.location.city}}</p>
	</div>
	
	<div class="col-xs-8">
		<p class="body-text-bold" ></p>
	</div>
	<div class="col-xs-3">
		<p class="body-text-bold" >الرتبة أو الصنف</p>
	</div>
	<div class="col-xs-8">
		<p class="body-text">: {{usr.grade[0].grade}}</p>
	</div>

	<div class="col-xs-8">
		<p class="body-text-bold" ></p>
	</div>
	<div class="col-xs-offset-1 col-xs-3">
		<p class="body-text-bold" >الخطة الوظيفية</p>
	</div>
	<div class="col-xs-8">
		<p class="body-text-bold" data-ng-if="!usr.fct[0]">: {{"&#8212;"}}</p>
		<p class="body-text" data-ng-if="usr.fct[0]">: {{usr.fct[0].fct}}</p>
	</div>
</div>




<div class="row ">
	<div class="col-xs-offset-1 col-xs-3">
		<p class="body-text-bold" >مركز العمل</p>
	</div>
	<div class="col-xs-4">
		<p class="body-text" >: {{ usr.aff[0].struct}}</p>
	</div>
	<div class="col-xs-2">
		<p class="body-text-bold" >تاريخ التعيين</p>
	</div>
	<div class="col-xs-2">
		<p class="body-text" >{{usr.aff[0].dt | date:'yyyy/MM/dd'}}</p>
	</div>
</div>

<div class="row ">
	
	<div class="col-xs-offset-1 col-xs-3">
		<p class="body-text-bold" >الحالة الإدارية</p>
	</div>
	<div class="col-xs-8">
		<p class="body-text">: {{usr.state[0].st}}</p>
	</div>
	<div class="col-xs-offset-1 col-xs-11">
		<p class="body-text-bottom" >الملاحظات : ...................................................................................................</p>
		<p class="body-text" >...................................................................................................................</p>
	</div>

	<div class="col-xs-offset-3 col-xs-6">
		<table class="table table-bordered table-responsive text-center body-text-bottom" >
			<tr class="body-text-bold">
				<td colspan="2">العدد المهني</th>
			</tr>
			<tr class="body-text" >
				<td>مقايس التقييم</td>
				<td>العدد المسند ......../100</td>
			</tr>

			<tr class="body-text" >
				<td>كمية العمل</td>
				<td> ........................./20</td>
			</tr>

			<tr class="body-text" >
				<td>كيفية العمل</td>
				<td> ........................./20</td>
			</tr>

			<tr class="body-text" >
				<td>العلاقة والمظهر</td>
				<td> ........................./20</td>
			</tr>

			<tr class="body-text" >
				<td>المثابرة</td>
				<td> ........................./20</td>
			</tr>


			<tr class="body-text" >
				<td>المواظبة</td>
				<td> ........................./20</td>
			</tr>


			<tr class="body-text-bold" >
				<td>المجموع</td>
				<td> .................../100</td>
			</tr>
			
		</table>
	</div>

	<div class="col-xs-offset-1 col-xs-11">
		<p class="body-text-bottom" >التقييم العام : ...................................................................................................</p>
		<p class="body-text-bottom" >...................................................................................................................</p>
		
	</div>
</div>






<div class="row">
	<div class="col-xs-offset-1 col-xs-5">
		<p class="body-text-bold text-center">ب ...................في.................. </p>
		<p class="body-text-bold text-center">الرئيس المباشر</p>
	</div>
	<div class="col-xs-offset-1 col-xs-5">
		<p class="body-text-bold text-center">ب ...................في.................. </p>
		<p class="body-text-bold text-center">رئيس الهيكل</p>
	</div>
</div>