<h3 class="hidden-print">بحث</h3>

<div class="row hidden-print">
   <div class="col-md-7 form-horizontal">
      <div class="form-group mb-xl">
         <label class="col-sm-4 control-label" style="font-size:16px;">الرتبة</label>
         <div class="col-sm-8">
            <select data-ng-model="grade" class="form-control" data-ng-options="g as g.title for g in gs track by g._id" data-ng-init="initGradeOptions()" ></select>
         </div>
      </div>
      <div class="form-group mb-xl">
         <label class="col-sm-4 control-label" style="font-size:16px;">الخطة وظيفية</label>
         <div class="col-sm-8">
            <select data-ng-model="fct" class="form-control" data-ng-options="f as f.title for f in fcts track by f._id" data-ng-init="initFctOptions()" ></select>
         </div>
      </div>
      <div class="form-group mb-xl">
         <label class="col-sm-4 control-label" style="font-size:16px;">الوضعية الإدارية</label>
         <div class="col-sm-8">
            <select data-ng-model="st" class="form-control" required>
               <option></option>
               <option value="مباشر">مباشر</option>
               <option value="إلحاق">إلحاق</option>
               <option value="عدم المباشرة">عدم المباشرة</option>
               <option value="تحت السلاح">تحت السلاح</option>
            </select>
         </div>
      </div>
      <div class="form-group mb-xl">
         <label class="col-sm-4 control-label" style="font-size:16px;">الهيكل الرئيسي</label>
         <div class="col-sm-8">
            <select data-ng-model="struct" data-ng-options="s as s.struct for s in structs track by s._id" data-ng-init="initStructOptions()" class="form-control" required data-ng-change="initSubStructOptions(struct)"></select>
         </div>
      </div>

      <div class="form-group mb-xl">
         <label class="col-sm-4 control-label" style="font-size:16px;">الهيكل الفرعي 1</label>
         <div class="col-sm-8">
            <select data-ng-model="substruct"  data-ng-options="s as s.substruct for s in substructs " class="form-control" data-ng-change="initSubSubStructOptions(substruct)" ></select>
         </div>
      </div>
      <div class="form-group mb-xl">
         <label class="col-sm-4 control-label" style="font-size:16px;">الهيكل الفرعي 2</label>
         <div class="col-sm-8">
            <select data-ng-model="subsubstruct" data-ng-options="s as s for s in subsubstructs " class="form-control" ></select>
         </div>
      </div>
   </div>
   <div class="col-md-5">
      <button type="button" data-ng-click="Search()" class="btn btn-primary pull-right" >بحث</button>
   </div>
</div>


<div class="row hidden-print">
   <div class="col-xs-6">
      <toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
   </div>
</div>

<div class="row" data-ng-show="res[0]">
   <div class="col-lg-12">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            
            <paneltool tool-refresh="traditional">العدد الجملي</paneltool>
            <span class="text-success h4">{{count}}</span>
         </div>
         <!-- START table-responsive-->
         <div class="table-responsive">
            <table class="table">
               <tbody>
                  <tr data-ng-repeat="u in res">
                     <td>
                        <div class="media">
                           <a ui-sref="app.user({'id':'{{u._id}}'} )" class="pull-left">
                              <img data-ng-src="{{u.avatar}}" alt="" class="media-object img-responsive img-rounded thumb64" />
                           </a>
                           <div class="media-body">
                              <h4 class="media-heading"> <a ui-sref="app.user({'id':'{{u._id}}'} )" class="text-inverse">{{u.nom}} {{u.pren}} </a>
                              </h4>
                              <p class="text-muted">{{u.grade[0].grade}} - {{u.fct[0].fct}} - {{ u.aff[0].struct}} - {{u.state[0].st}} </p><a ui-sref="app.user({'id':'{{u._id}}'} )" class="mr label label-primary">{{u.uid}} </a>
                           </div>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <!-- END table-responsive-->
         <div class="panel-footer" data-ng-show="listpage">
            <ul class="pagination pagination-sm" data-ng-repeat=" l in listpage" >
               <li data-ng-class="{active: isSelected($index) }"><a href="#" data-ng-click="initPage(l)">{{l}}</a></li>
            </ul>
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>