<h3>بحث</h3>
<form>
   <div class="form-group mb-xl">
      <div class="input-group">
         <input type="text" class="form-control" data-ng-model="q" />
         <span class="input-group-btn">
            <button type="button" data-ng-click="Search()" class="btn btn-primary" >بحث</button>
         </span>
      </div>
   </div>
</form>
<div class="row">
   <div class="col-md-4">
      <div class="form-group mb-xl">
         <div class="checkbox c-checkbox">
            <label class="h3 font-bold">
               <input  type="checkbox" data-ng-model="nom" />
               <span class="fa fa-check"></span>الإسم </label>
         </div>
         <div class="checkbox c-checkbox">
            <label class="h3 font-bold">
               <input  type="checkbox" data-ng-model="pren" />
               <span class="fa fa-check"></span> اللقب</label>
         </div>

         <div class="checkbox c-checkbox">
            <label class="h3 font-bold">
               <input  type="checkbox" data-ng-model="uid" />
               <span class="fa fa-check"></span>المعرف الوحيد</label>
         </div>

         <div class="checkbox c-checkbox">
            <label class="h3 font-bold">
               <input  type="checkbox" data-ng-model="cin" />
               <span class="fa fa-check"></span>رقم بطاقة التعريف </label>
         </div>
         
      </div>
      
   </div>
   <div class="col-md-8 form-horizontal">
      <div class="form-group mb-xl">
         <label class="col-sm-4 control-label" style="font-size:16px;">(ذكر /أنثى)</label>
         <div class="col-sm-8">
            <select class="form-control" data-ng-model="gender">
               <option></option>
               <option value="ذكر">ذكر</option>
               <option value="أنثى">أنثى</option>
            </select>
         </div>
      </div>
      <div class="form-group mb-xl">
         <label class="col-sm-4 control-label" style="font-size:16px;">الحالة العائلية</label>
         <div class="col-sm-8">
            <select data-ng-model="r" class="form-control" >
               <option></option>
               <option value="أعزب">أعزب</option>
               <option value="متزوج">متزوج</option>
               <option value="أرمل">أرمل</option>
               <option value="مطلق">مطلق</option>
            </select>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-4 control-label" style="font-size:16px;">الرتبة</label>
         <div class="col-sm-8">
            <select data-ng-model="grade" class="form-control" data-ng-options="g as g.title for g in gs track by g._id" data-ng-init="initGradeOptions()" ></select>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-4 control-label" style="font-size:16px;">الخطة وظيفية</label>
         <div class="col-sm-8">
            <select data-ng-model="fct" class="form-control" data-ng-options="f as f.title for f in fcts track by f._id" data-ng-init="initFctOptions()" ></select>
         </div>
      </div>
      <div class="form-group">
         <label class="col-sm-4 control-label" style="font-size:16px;">الوضعية الإدارية</label>
         <div class="col-sm-8">
            <select data-ng-model="st" class="form-control" required>
               <option></option>
               <option value="مباشر">مباشر</option>
               <option value="إلحاق">إلحاق</option>
               <option value="عدم المباشرة">عدم المباشرة</option>
               <option value="تحت السلاح">تحت السلاح</option>
            </select>
         </div>
      </div>
   </div>
</div>

<div class="row">
   <div class="col-xs-6">
      <toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':true}"></toaster-container>
   </div>
</div>

<div class="row" data-ng-show="res[0]">
   <div class="col-lg-12">
      <!-- START panel-->
      <div class="panel panel-default">
         <div class="panel-heading">
            <button data-ng-click="Clear()" class="pull-right btn btn-xs btn-default">فسخ</button>{{count}}
            <span class="text-success">{{q}}</span>
            <paneltool tool-refresh="traditional"></paneltool>
         </div>
         <!-- START table-responsive-->
         <div class="table-responsive">
            <table class="table">
               <tbody>
                  <tr data-ng-repeat="u in res">
                     <td>
                        <div class="media">
                           <a ui-sref="app.user({'id':'{{u._id}}'} )" class="pull-left">
                              <img data-ng-src="{{u.avatar}}" alt="" class="media-object img-responsive img-rounded thumb64" />
                           </a>
                           <div class="media-body">
                              <h4 class="media-heading"> <a ui-sref="app.user({'id':'{{u._id}}'} )" class="text-inverse">{{u.nom}} {{u.pren}} </a>
                              </h4>
                              <p class="text-muted">{{u.grade[0].grade}} - {{u.fct[0].fct}} - {{ u.aff[0].struct}} - {{u.state[0].st}} </p><a ui-sref="app.user({'id':'{{u._id}}'} )" class="mr label label-primary">{{u.uid}} </a>
                           </div>
                        </div>
                     </td>
                  </tr>
               </tbody>
            </table>
         </div>
         <!-- END table-responsive-->
         <div class="panel-footer" data-ng-show="listpage">
            <ul class="pagination pagination-sm" data-ng-repeat=" l in listpage" >
               <li data-ng-class="{active: isSelected($index) }"><a href="#" data-ng-click="initPage(l)">{{l}}</a></li>
            </ul>
         </div>
      </div>
      <!-- END panel-->
   </div>
</div>