<h3>ngTables
   <small>Pure angular functional tables</small>
</h3>
<div data-ng-controller="AngularTableController as table" class="container-fluid">

   <div class="panel panel-default">
      <div class="panel-heading"><a data-ng-mousedown="csv.generate()" data-ng-href="{{ csv.link() }}" download="test.csv" class="pull-right btn btn-sm btn-primary">Export to CSV</a>
         <div class="panel-title">Table Export</div>
      </div>
      <div class="table-responsive">
         <table data-ng-table="table.tableParams4" export-csv="csv" class="table table-bordered table-striped">
            <tbody>
               <tr data-ng-repeat="user in $data">
                  <td data-title="'Name'">{{user.name}}</td>
                  <td data-title="'Age'">{{user.age}}</td>
               </tr>
            </tbody>
         </table>
      </div>
   </div>
</div>