<h3>
   نتيجة بحث
   <small data-ng-bind="app.name + ' - ' + app.description"></small>
</h3>

<div data-ng-controller="Users" class="row" >
   <!-- START dashboard content-->


   <div class="col-md-4 fw-boxed">
      <div class="row">
         <div class="panel panel-default">
            <div class="panel-heading">
                  <div class="panel-title">
                     <img data-ng-src="{{userav.avatar}}" alt="Image" class="media-object img-responsive " />
                  </div>
            </div> 
            <ul class="list-group">
                  <li class="list-group-item">
                     <div class="media">
                        <!-- Contact info-->
                        <div class="media-body">
                              <p class="mb-sm">
                                 <span class="text-muted">الإسم</span>
                                 <strong><a href="#" class="text-inverse">{{userav.nom}} </a></strong>
                              </p>
                              <p class="mb-sm">
                                 <span class="text-muted">اللقب</span>
                                 <strong><a href="#" class="text-inverse">{{userav.pren}} </a></strong>
                              </p>
                              <p class="mb-sm">
                                 <span class="text-muted">المعرف الوحيد</span>
                                 <strong><a href="#" class="text-inverse">{{userav.uid}} </a></strong>
                              </p>
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="media">
                        <!-- Contact info-->
                        <div class="media-body">
                              <p class="mb-sm">
                                 <span class="text-muted">الرتبة</span>
                                 <strong><a href="#" class="text-inverse">{{userav.grade[0].grade}} </a></strong>
                              </p>
                              <p class="mb-sm">
                                 <span class="text-muted">الخطة الوظيفية</span>
                                 <strong><a href="#" class="text-inverse">{{userav.fct[0].fct}} </a></strong>
                              </p>
                              <p class="mb-sm">
                                 <span class="text-muted">مكان العمل</span>
                                 <strong><a href="#" class="text-inverse">{{userav.aff[0].subsubstruct}} - {{userav.aff[0].substruct}} - {{userav.aff[0].struct}} </a></strong>
                              </p>
                        </div>
                     </div>
                  </li>
            </ul> 

             
         </div>
      </div>
   </div>



   <div class="col-md-8 fw-boxed">
    	<div class="row">
         
         <div class="col-md-12">
            <div class="panel panel-default">
               <div class="panel-heading">
                  <div class="panel-title">القائمة الجملية</div>
               </div>
               <!-- List group -->
               <ul class="list-group">
                  <li class="list-group-item">
                     <div class="media">
                        <div class="pull-left">
                           <!-- Contact avatar-->
                           <div class="point-pin">
                              <a href="#">
                                 
                              </a>
                              <div class="point point-success point-lg"></div>
                           </div>
                        </div>
                        <!-- Contact info-->
                        <div class="media-body">
                           <div class="media-heading">
                              <p class="mb-sm">
                                 <strong><a href="#" class="text-inverse">Same Anderson </a>
                                 </strong>-
                                 <em class="text-muted">#41545</em>
                              </p>
                              <small class="text-muted">Phasellus ultricies tempor purus, nec congue.</small>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="media">
                        <div class="pull-left">
                           <!-- Contact avatar-->
                           <div class="point-pin">
                              <a href="#">
                                 <img src="app/img/user/02.jpg" alt="Image" class="media-object img-circle thumb32" />
                              </a>
                              <div class="point point-warning point-lg"></div>
                           </div>
                        </div>
                        <!-- Contact info-->
                        <div class="media-body">
                           <div class="media-heading">
                              <p class="mb-sm">
                                 <strong><a href="#" class="text-inverse">Myrtle James</a>
                                 </strong>-
                                 <em class="text-muted">#54878</em>
                              </p>
                              <small class="text-muted">Vivamus tempus vehicula facilisis.</small>
                           </div>
                        </div>
                     </div>
                  </li>
                  <li class="list-group-item">
                     <div class="media">
                        <div class="pull-left">
                           <!-- Contact avatar-->
                           <div class="point-pin">
                              <a href="#">
                                 <img src="app/img/user/06.jpg" alt="Image" class="media-object img-circle thumb32" />
                              </a>
                              <div class="point point-danger point-lg"></div>
                           </div>
                        </div>
                        <!-- Contact info-->
                        <div class="media-body">
                           <div class="media-heading">
                              <p class="mb-sm">
                                 <strong><a href="#" class="text-inverse">Jeremiah Peterson</a>
                                 </strong>-
                                 <em class="text-muted">#13547</em>
                              </p>
                              <small class="text-muted">Integer fermentum accumsan metus, id sagittis.</small>
                           </div>
                        </div>
                     </div>
                  </li>
               </ul>
            </div>
         </div>
      </div>
   </div>
   
</div>